<p><a href="http://redlulusalem.com">Red Lulu Cocina & Tequila Bar</a><br />
94 Lafayette Street<br />
Salem, MA 01970<br />

<a href="http://www.google.com/maps?q=94+Lafayette+Street,+Salem,+MA&hl=en&ll=42.520921,-70.894239&spn=0.008841,0.014699&sll=42.036922,-71.683501&sspn=2.280528,3.762817&oq=94+Lafayette+Street&hnear=94+Lafayette+St,+Salem,+Massachusetts+01970&t=m&z=16"><img class="alignnone size-full wp-image-41" title="map" src="images/redlulu-map.png" alt="" width="380" height="560" /></a>
</p>
