<p><a href="http://www.thegreenlandcafe.com/">Green Land Cafe</a><br />
87 Washington Street<br />
Salem, MA 01970<br />

<a href="http://www.google.com/maps?q=Green+Land+Cafe,+Washington+Street,+Salem,+MA&hl=en&ll=42.523356,-70.89572&spn=0.018503,0.0315&sll=42.522281,-70.895033&sspn=0.019262,0.0315&vpsrc=6&hq=Green+Land+Cafe,&hnear=Washington+St,+Salem,+Massachusetts&t=m&z=15"><img class="alignnone size-full wp-image-41" title="GreenLandCafe-map" src="images/GreenLandCafe-map.png" alt="" width="256" height="271" /></a>
</p>
