<p><a href="http://lobstershantysalem.com/">The Lobster Shanty</a><br />
25 Front Street @ Artist's Row<br />
Salem, MA 01970<br />
Phone: 978.745.5449<br />

<a href="http://www.google.com/maps?q=The+Lobster+Shanty,+Front+Street,+Salem,+MA&hl=en&ll=42.520462,-70.894389&spn=0.009442,0.016093&sll=42.522012,-70.894389&sspn=0.009441,0.016093&oq=the+lobster+shanty&hq=The+Lobster+Shanty,&hnear=Front+St,+Salem,+Essex,+Massachusetts+01970&t=m&z=16"><img class="alignnone size-full wp-image-41" title="map" src="images/shanty-map.png" alt="" width="267" height="337" /></a>
</p>
